
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <h1>Sign up a Team Member</h1>
    <form action="~/TeamMembers/SignUp" method="post">
        @Html.ValidationSummary()


        <div>
            <label>Name</label>
            <input type="text" name="name" value="" />
        </div>

        <div>
            <label>Charity Page</label>
            <input type="text" name="CharityPage" value="https://example.com/sample" />
        </div>

        <div>
            <label>Short Name</label>
            <input type="text" name="Token" value="" />
        </div>


        <input type="submit" value="Sign Up" />

    </form>
</body>
</html>
